version: "3"
services:
  umma:
    image: umma:latest
    command: ./setup_and_run.sh umma1gpsh2h2z828gu8kgt5w28fel2krkkgjmrpe9en
    volumes:
      - /home/owner/.umma:/root/.umma
    ports:
      - 1317:1317 # rest
      - 26656:26656 # p2p
      - 26657:26657 # rpc
    environment:
      - GAS_LIMIT=${GAS_LIMIT:-100000000}
      - STAKE_TOKEN=${STAKE_TOKEN:-aumma}
